<%= image_tag 'background1.jpg', alt: "Photo by Johann from Pexels", class: 'background' %>
<div class="animated fadeIn delay-1s">
	<h1 class="title">Doguineo</h1>
</div>
<div class="animated fadeIn delay-2s">
	<h2 class="subtitle">Seu melhor amigo procurando um lar</h3>
</div>
<div class="container-flex">
	<div class="text animated fadeIn delay-3s">
		<%= fa_icon "paw", class: "icon" %>
		<h3>Mais de cem milhões de cães são abandonados por ano</h3>
	</div>
	<div class="text animated fadeIn delay-4s">
		<%= fa_icon "heartbeat", class: "icon" %>
		<h3>Todos os animais passaram pelo controle de Zoonoses</h3>
	</div>
	<div class="text animated fadeIn delay-5s">
		<%= fa_icon "home", class: "icon" %>
		<h3>Ajude a achar um lar para essas coisinhas lindas</h3>
	</div>
</div>