/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require animate
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img.background {
	filter: brightness(50%) grayscale(50%);
  width: 100vw;
  height: 100vh;
  /* Photo by freestocks.org from Pexels */
}

.delay-3s {
  animation-delay: 3s;
}

.delay-2s {
  animation-delay: 2s;
}

.delay-1s {
  animation-delay: 1s;
}

.delay-4s {
  animation-delay: 4s;
}

.delay-5s {
  animation-delay: 5s;
}

.title {
  text-align: center;
  color: white;
  font-size: 70px;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
}

.container-flex {
  display: flex;
  justify-content: space-between;
  color: white;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.text {
  text-align: center;
  margin-right: 50px !important;
}

.icon {
  font-size: 70px;
}

.subtitle {
  color: white;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}
